.container {
    flex: 1 0 auto;
    padding: 28px 16px 40px;
    box-sizing: border-box;
    text-align: left;
}

@media (max-width: 1024px) {
    .container {
        padding: 22px 12px 32px;
    }
}
